@use "reset";
@use "fonts";
@use "../../node_modules/swiper/swiper-bundle";

:root {
  --text-color-dark-blue: #2947a9;
  --text-color-blue: #3559c7;
  --text-color-dark-900: #14171f;
  --text-color-dark-800: #292e3d;
  --text-color-dark-700: #3d445c;
  --text-color-dark-400: #858ead;
  --color-neutral-600: #525b7a;
  --color-neutral-500: #667299;
  --color-neutral-100: #e0e3eb;
  --color-neutral-50: #f6f8f7;
  --text-color-orange: #f9995d;
}

body {
  font-family: "WorkSans", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
}

.container {
  position: relative;
  max-width: 1280px;
  width: 100%;
  padding-inline: 32px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @media (max-width: 800px) {
    padding-inline: 16px;
  }
}

#header {
  z-index: 15;
  position: sticky;
  top: 0;
}

.header {
  height: 80px;
  align-content: center;
  background: white;
  overflow-x: clip;

  &__logo {
    grid-column: span 6;
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 700;
    font-size: 1.875rem;
    color: var(--text-color-dark-blue);
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    grid-column: span 6;
    font-weight: 400;
    font-size: 1.125rem;
    color: var(--text-color-dark-900);

    & ul {
      display: flex;
      align-items: center;
      gap: 50px;
    }
  }

  &__nav-item--highlighted {
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--text-color-orange);
  }

  & .menu-toggle {
    z-index: 99;
    align-self: center;
    justify-self: end;
    display: none;
    grid-column: 12 / 13;
  }

  @media (max-width: 800px) {
    &.container {
      gap: 16px;
    }

    &__nav {
      flex-direction: column;
      justify-content: start;
      overflow-y: auto;
      position: absolute;
      grid-column: 1 / span 13;
      width: min(80vw, 300px);
      height: 100vh;
      top: 0;
      left: 100%;
      background: white;
      transition: all 0.2s ease-in-out;
      padding-block: 80px;

      & ul {
        margin-block: 30px;
        width: 100%;
        flex-direction: column;
        flex-shrink: 0;
      }

      .header:has(.menu-toggle input:checked) & {
        transform: translateX(-100%);
      }
    }

    & .menu-toggle {
      display: block;
    }
  }
}

// HERO SECTION

.hero {
  .wrapper {
    height: 646px;
  }

  .container {
    height: 100%;
  }

  &__background-images {
    z-index: -1;
    top: 0;
    position: absolute;
    display: flex;
    grid-column: span 12;
    width: 100%;
    height: 100%;
  }

  &__background-images::after {
    z-index: 10;
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.9) 16.58%,
      rgba(255, 255, 255, 0) 72.38%
    );
  }

  &__background-image {
    flex: 0 0 100%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    align-self: center;
    grid-column: span 6;
    font-weight: 600;
    font-size: 4.5rem;
    color: var(--text-color-dark-800);
  }

  &__featured-projects {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 416px;
    width: 100%;
    background: var(--text-color-blue);
    color: white;
  }

  &__featured-projects-title {
    margin-block: 20px;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    color: white;
  }

  &__featured-project {
    flex: 100% 0 0;
    margin-bottom: 26px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    min-height: 61px;
  }

  &__featured-projects-nav {
    display: flex;
    gap: 1px;
    font-size: 1.125rem;
    background: white;
    user-select: none;

    & > * {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-block: 9.5px;
      gap: 10px;
      background: var(--text-color-dark-800);
      cursor: pointer;
    }
  }

  @media (max-width: 800px) {
    & h1 {
      font-size: 4rem;
      margin-top: 30px;
      align-self: flex-start;
    }
  }
}

// OUR REPUTATION SECTION

.our-reputation {
  display: block;
  padding-block: 60px 84px;

  & h2 {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 2.25rem;
    text-align: center;
    color: var(--text-color-dark-800);
  }

  &__items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 18px;
  }

  &__item {
    max-width: 292px;
    width: 100%;
    height: 197px;
    padding-inline: 20px;
    background: white;
    border: 1.4px solid #e0e3eb;
    border-radius: 4px;

    & * {
      display: block;
    }

    & svg {
      margin-block: 20px 18px;
    }

    & h3 {
      margin-block: 18px;
      font-weight: 700;
      font-size: 1.25rem;
      color: var(--text-color-dark-700);
    }

    & p {
      margin-block: 18px;
      font-size: 1rem;
      color: var(--text-color-dark-400);
    }
  }
}

// ABOUT US SECTION

.about-us {
  padding-block: 74px 202px;

  & > div {
    grid-column: 1 / 13;
    position: relative;
    display: grid;
    grid-template-columns: inherit;
  }

  & img {
    display: block;
    width: 100%;
    height: 669px;
    object-fit: cover;
    grid-column: 1 / 10;
  }

  &__info {
    padding: 50px 60px 60px 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin-block: auto;
    grid-column: 8 / 13;
    color: white;
    background: var(--text-color-dark-blue);
    box-shadow:
      0px 20px 24px -4px rgba(17, 24, 39, 0.1),
      0px 8px 8px -4px rgba(17, 24, 39, 0.04);
    border-radius: 2px;

    & h2 {
      margin-bottom: 37px;
      font-weight: 700;
      font-size: 2.25rem;
    }

    & p {
      font-size: 1.25rem;
    }

    & a {
      max-width: 225px;
      width: 100%;
      margin-top: 74px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px 20px;
      background: white;
      border: 2px solid var(--text-color-dark-blue);
      border-radius: 6px;
      color: var(--text-color-dark-blue);
      font-weight: 600;
      font-size: 1.125rem;
      text-align: center;
    }
  }

  @media (max-width: 800px) {
    padding-block: 74px 122px;

    & img {
      grid-column: 1 / 13;
    }

    &__info {
      position: relative;
      grid-column: 2 / 12;
      top: -80px;
    }
  }
}

// SERVICES SECTION

.services {
  background: var(--color-neutral-50);
  padding-block: 44px 76px;

  & h2 {
    margin-bottom: 36px;
    grid-column: 1 / 13;
    font-weight: 700;
    font-size: 2.25rem;
    text-align: center;
    color: var(--text-color-dark-800);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 271px), 271px));
    grid-column: 2 / 12;
    row-gap: 48px;
    justify-content: space-between;
  }

  &__item {
    background: white;
    height: 181px;
    padding: 38px;

    & * {
      display: block;
    }

    & img {
      margin-inline: auto;
      margin-bottom: 20px;
    }

    & hr {
      width: 40px;
      margin-inline: auto;
    }

    & span {
      margin-top: 20px;
      font-weight: 600;
      font-size: 1.25rem;
      text-align: center;
      color: var(--text-color-dark-blue);
    }
  }

  &__item:nth-child(even) {
    background: var(--text-color-dark-blue);

    & span {
      color: white;
    }
  }
}

// OUR EXPERIENCE SECTION

.our-experience {
  padding-block: 103px 57px;

  &__important-numbers {
    grid-column: 1 / 9;
    position: relative;
    container-type: inline-size;
    aspect-ratio: 810 / 562.5;

    & div {
      position: absolute;
      padding: 3.7cqw;
      height: 19.1cqw;
      background: white;
      border: 1px solid white;
      box-shadow:
        0px 12px 16px -4px rgba(17, 24, 39, 0.1),
        0px 4px 6px -2px rgba(17, 24, 39, 0.05);
      border-radius: 4px;

      & span:nth-child(1) {
        display: flex;
        align-items: flex-end;
        height: 8cqw;
        font-weight: 600;
        font-size: 8.9cqw;
        color: var(--text-color-dark-800);
      }

      & span:nth-child(2) {
        display: inline-flex;
        font-size: 3cqw;
        color: var(--color-neutral-500);
      }

      & span:nth-child(2)::before {
        flex: 0 0 auto;
        content: "";
        width: 0.9cqw;
        margin-inline: 2cqw 1.5cqw;
        background: var(--text-color-orange);
      }

      & img {
        display: block;
        position: absolute;
        aspect-ratio: 1 / 1;
      }
    }

    & div:nth-child(1) {
      z-index: 1;
      width: 34.5cqw;
      top: 2.3cqw;
      left: 50.1cqw;

      & img {
        width: 12cqw;
        top: -2cqw;
        left: 26cqw;
      }
    }

    & div:nth-child(2) {
      width: 44.5cqw;
      top: 14.6cqw;
      left: 13.2cqw;

      & img {
        width: 9.7cqw;
        top: -6cqw;
        left: -4cqw;
      }
    }

    & div:nth-child(3) {
      z-index: 1;
      width: 34cqw;
      top: 32.2cqw;
      left: 43.5cqw;

      & img {
        width: 11.5cqw;
        top: -2cqw;
        left: 25cqw;
      }
    }

    & div:nth-child(4) {
      width: 41.1cqw;
      top: 45.2cqw;
      left: 19.1cqw;

      & img {
        width: 10.4cqw;
        top: 13.8cqw;
        left: 35.6cqw;
      }
    }
  }

  &__info {
    grid-column: 9 / 13;
    padding-inline: 32px;
    margin-block: auto;
    position: relative;
    top: -27px;

    & h2 {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 3.75rem;
      color: var(--text-color-dark-blue);
    }

    & p {
      margin-block: 40px;
      font-size: 1.25rem;
      color: var(--color-neutral-600);
    }

    & a {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px 20px;
      max-width: 176px;
      width: 100%;
      background: var(--text-color-dark-blue);
      border-radius: 2px;
      font-weight: 600;
      font-size: 1.125rem;
      color: white;
    }
  }

  @media (max-width: 1280px) {
    &__important-numbers {
      grid-column: 1 / 13;
    }

    &__info {
      grid-column: 1 / 13;
      position: static;
      margin-top: 70px;
      padding-inline: 0;

      & h2 {
        font-size: 3rem;
      }
    }
  }
}
