<section id="contact-us">
  <div class="wrapper">
    <div class="container contact-us">
      <h2>What can us do for you?</h2>
      <p class="contact-us__subtext">
        We are ready to work on a project of any complexity, whether it's
        commercial or residential.
      </p>
      <form action="">
        <div>
          <div>
            <input id="contact-name" type="text" placeholder="" />
            <label for="contact-name"
              >Your Name<span style="color: #c40303">*</span></label
            >
          </div>
          <div>
            <input id="contact-email" type="email" placeholder="" />
            <label for="contact-email"
              >Email<span style="color: #c40303">*</span></label
            >
          </div>
          <div>
            <input
              id="contact-reason"
              type="text"
              placeholder=""
              list="contact-us__reasons"
            />
            <label for="contact-reason"
              >Reason for Contacting<span style="color: #c40303">*</span></label
            >
            <datalist id="contact-us__reasons">
              <option value="reason-one">Reason 1</option>
              <option value="reason-two">Reason 2</option>
            </datalist>
          </div>
          <div>
            <input id="contact-phone" type="tel" placeholder="" />
            <label for="contact-phone">Phone</label>
          </div>
          <div>
            <textarea
              id="contact-message"
              name="message"
              placeholder=""
            ></textarea>
            <label for="contact-message">Message</label>
          </div>
        </div>
        <p class="contact-us__required-warning">
          <span style="color: #c40303">*</span> indicates a required field
        </p>
        <button class="fade-in-element" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
