<header id="header">
  <div class="wrapper">
    <div class="container header">
      <div class="header__logo">
        <img src="images/icons/logo.svg" alt="Logo" />
        <span><i class="cursive">The</i>Box</span>
      </div>
      <nav class="header__nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Services</a></li>
          <li class="header__nav-item--highlighted">
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div class="menu-toggle">
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
    </div>
  </div>
</header>
