<section class="hero">
  <div class="wrapper">
    <div class="container">
      <h1>Building things is our mission.</h1>
    </div>
    <div class="hero__background-images swiper">
      <div class="swiper-wrapper">
        <img
          class="hero__background-image swiper-slide"
          src="./images/Hero.jpg"
          alt="Hero"
        />
        <img
          class="hero__background-image swiper-slide"
          src="./images/Hero.jpg"
          alt="Hero"
        />
        <img
          class="hero__background-image swiper-slide"
          src="./images/Hero.jpg"
          alt="Hero"
        />
      </div>
    </div>
    <div class="hero__featured-projects swiper">
      <p class="hero__featured-projects-title">Featured Projects</p>
      <div class="swiper-wrapper">
        <p class="hero__featured-project swiper-slide">
          The National University of Architecture
        </p>
        <p class="hero__featured-project swiper-slide">
          The National University of Architecture
        </p>
        <p class="hero__featured-project swiper-slide">
          The National University of Architecture
        </p>
      </div>
      <div class="hero__featured-projects-nav">
        <div class="hero__featured-projects-prev">
          @@include("../images/icons/arrow-left.svg") Back
        </div>
        <div class="hero__featured-projects-next">
          Next @@include("../images/icons/arrow-right.svg")
        </div>
      </div>
    </div>
  </div>
</section>
