<section>
  <div class="wrapper">
    <div class="container services">
      <h2>Services</h2>
      <div class="services__items">
        <div class="services__item fade-in-element">
          <img src="images/icons/construction.svg" alt="Construction" />
          <hr />
          <span>Construction</span>
        </div>
        <div class="services__item fade-in-element">
          <img src="images/icons/renovation.svg" alt="Renovation" />
          <hr />
          <span>Renovation</span>
        </div>
        <div class="services__item fade-in-element">
          <img src="images/icons/consultation.svg" alt="Consultation" />
          <hr />
          <span>Consultation</span>
        </div>
        <div class="services__item fade-in-element">
          <img src="images/icons/repair-service.svg" alt="Repair Service" />
          <hr />
          <span>Repair Service</span>
        </div>
        <div class="services__item fade-in-element">
          <img src="images/icons/Architecture.svg" alt="Architecture" />
          <hr />
          <span>Architecture</span>
        </div>
        <div class="services__item fade-in-element">
          <img src="images/icons/Electric.svg" alt="Electric" />
          <hr />
          <span>Electric</span>
        </div>
      </div>
    </div>
  </div>
</section>
